/*color codes both hexadecimal and rbg*/
/*kuler.adobe.com/ Animal humane society
 red:		#D01C22 (208,28,34)
 teal:		#105A74 (16,90,116)
 orange		#D05522(208,85,34) 
 blue:		#205373 (32,83,115)
 off-white:	#F2F2F2 (242,242,242)
 yellow:        #F2BB16 (242,187,32)
 brown		#4D3E32 (77,62,5)
*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/*html5 display rule*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
/*resets*/
body{
	line-height: 1.2;
}

ol{
	margin-left: 1.4em;
	list-style: decimal;
}
ul{
	margin-left: 1.4em;
	list-style: square
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/*general tags*/
body{
	font-family: Verdana, Arial, sans-serif;
	background-color:rgba(16,90,116,.5);
	
}
.wrapper{
	width:90%;
	margin-left: auto;
	margin-right:auto;
	background-color:#205373;
	box-shadow: 5px 5px 5px #8C3555;
	
}
section{
	width:90%;
	margin-left: auto;
	margin-right:auto;
	margin-top: 10px;
	background-color:#F2F2F2;
	border-radius: 5px;
	border: 2px groove #F21D2F;
}

h1, h2{
	
	padding-left: 5px;
}

h1{
	font-size: 2em;
	font-weight: bold;
	font-family: quantico, serif;
	color: #4C0016;
	text-align: left;
	font-variant: normal;
	letter-spacing: 2px;
	padding: 0 0 5px 0;
	margin-left: 10px;
	text-shadow: #F2BB16 2px 2px 2px;
}

h2 {
	font-size: 1.75em;
	font-family: quantico, serif;
	color: #4C0016;
	font-weight: bold;
	word-spacing: 2px;
	background-color:rgba(208,85,34,.75);
	border: #8C3555 2px groove;
	overflow: hidden;
	
}

p{
	margin: 5px 0 0 10px;
	}
/*table*/

.food {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 98%;
	border-radius: 5px;
	border-collapse: collapse;
	margin:0 0 10px 10px;
}

.food caption {
	text-align: right;
	font-size: 1.3em;
	padding-top: 25px;
}

.food td, .food th {
	border: 1px groove #105A74;
	padding: 3px 7px 2px 7px;
}
.food tr:nth-child(3){
	background-color: #105A74;
	
}
.food tr:first-child{
	background: #F2BB16;
}
.food th {
	text-transform:uppercase;
	text-align: center;
	font-size: 1.5em;
	padding-top: 5px;
	padding-bottom: 4px;
	color: #FFF7EB;
	text-shadow: #D01C22 2px 2px 2px;
}
.food td{
	font-size: 1.4em;
	background-color:rgba(77,62,5,.5); 
}

/*form*/
.subform {
	font-size: .8em;
	margin: 0px 0 5px 0;
}
.subform .label {
	float: left;
	width: 230px;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
	border-radius: 5px;
	clear: left;
}

.subscribe {
	margin-left: 240px;
	background-color: #D01C22;
	font-family: "Arial Black", "Gill Sans", Arial, sans-serif;
	color: #F2F2F2;
	border-radius: 5px;
	border: groove 2px #4C483A;
	box-shadow: #F2BB16 2px 2px 2px;
	margin-top: 10px;
}


.subform input[type="text"],[type="password"],.subform textarea{
	font-size: 1.2em;
	color: #4D3E32;
	border-radius: 5px;
	border: 1px inset #104F53;
	background-color: rgba(16,90,116,.75);	
	box-shadow: inset 0 0 10px rgba(242,242,242,.75);
	width: 300px;
	padding: 5px;	
}
.subform input[type="text"]:focus,[type="password"]:focus,.subform textarea:focus {
	background-color: white;
	color: black;
}

/*footer*/
footer{
	text-align:center;
	color: #F2F2F2; 
	background-color:#4D3E32;
	border: #D05522 2px inset;
}
footer a{
	text-decoration: underline;
	font-weight: bold;
	color: #F2BB16;
}
footer a:hover{
	color:#D01C22;
	letter-spacing:5px;
}